/.gradle
*/bin/
*/build/
*/.gradle
*/.settings
*/.classpath
*/.project
/.recommenders
*.log
*.out
*.idea
*.bak
/logs/
/resources
/.metadata/
gradlew
*.iml
.DS_Store
/extLibs
*.hprof
/node_modules
gradle.properties