#rightColl {
  overflow: hidden;
  float: left;
  margin: 0px;
  width: 28.3%;
  // border: 1px solid #666666;
  padding: 0px;
  height: auto;
  margin-left: 0.5%;
}
#rightColl .pages {
  overflow: hidden;
  float: left;
  margin: 0px;
  width: 96%;
  border: 1px solid #d6d7db;
  padding: 0px;
  margin-left: 8px;
  height: 37px;
  background: #ffffff;
  font-size: 12px;
  color: #90949c;
  font-weight: bold;
}
#rightColl .pages a {
  color: #90949c;
  text-decoration: none;
}
#rightColl .pages .content {
  margin: 11px 0px 10px 10px;
}

#rightColl .pages .content .arrow-right {
  margin-right: 20px;
  float: right;
  font-size: 15px;
}